@import url("global-styles.css");
@import url("navbar-styles.css");

.contact{
    background: var(--clr-primary-10);
    padding-bottom: 3rem;
}

.contact-title{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: var(--clr-primary-1);
}

.map{
    border: 2px solid var(--clr-primary-5);  
    /* to set email and telephone over map */
    position: relative;
}

/* to not remain the tiny space at the bottom of the map block */
.map iframe{
    display: block; 
}

/* white color overlay */
.map::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-white);
    z-index: 1;
    opacity: 0.6;
}

.info-container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    z-index: 2;
}

.info .icon{
    color: var(--clr-primary-5);
    font-size: 1.5rem;
}

.info h4{
    color: var(--clr-primary-4);
    text-transform: uppercase;
}

.info p{
    color: var(--clr-primary-1);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    /* font-style: italic; */
    letter-spacing: 0.1rem;
}

.form{
    background: var(--clr-white);
    margin-top: 3rem;
    padding: 2rem 0;
    border-radius: var(--radius);
}

.form-title{
    text-align: center;
}

.form-title-underline{
    width: 6rem;
}

.form-group{
    width: 80%;
    margin: 0 auto;
}

.form-group .form-field{
    width: 100%;
    background: var(--clr-gray-10);
    color: var(--clr-primary-2);   text-transform: uppercase;
    padding:10px;
    margin-bottom: 1rem; 
    border-radius: 5px;
    letter-spacing: var(--spacing);
    box-shadow: var(--dark-shadow);
    border:none;
}   

/* by default button is an inline-block elment in some browser */
.frm-btn{
    display: inline-block;
    width: 100%;
    padding:15px;
    background: var(--clr-gray-10);
    color: var(--clr-primary-1);
    font-size:0.9rem;
    margin-top:2rem;
    border-radius:10px;
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
    border: none;
    animation: border-move 4s linear infinite;
}

.frm-btn:hover{
    background: var(--clr-primary-9);
    color: var(--clr-primary-1);
    animation:none;
}


@keyframes border-move{
    0%{
        border-left: none;
        border-top: 2px solid var(--clr-primary-5);
    }
    25%{
        border-top: none;
        border-right: 2px solid var(--clr-primary-5);
    }
    50%{
        border-right: none;
        border-bottom: 2px solid var(--clr-primary-5);
    }
    100%{
        border-bottom: none;
        border-left: 2px solid var(--clr-primary-5);
    }
}

@media screen and (min-width: 992px){
    .section-center{
        width: 80vw;
        /* this pedding needed because navbar will fixed only when user slide more than 80 check nav-func.js. To slide we need some space below. */
        padding-bottom: 5rem;
    }

    .contact-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 4rem;
        align-items: center;
        padding-bottom: 2rem;
    }

    .form{
        margin-top: 0;
    }

    .contact-title{
        padding-top: 1rem 0;
    }
}
