/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(163, 69%, 5%);
  --clr-primary-2: hsl(163, 71%, 15%);
  --clr-primary-3: hsl(162, 72%, 25%);
  --clr-primary-4: hsl(162, 72%, 35%);
  /* primary/main color */
  --clr-primary-5: hsl(162, 72%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(162, 72%, 55%);
  --clr-primary-7: hsl(162, 72%, 65%);
  --clr-primary-8: hsl(162, 72%, 75%);
  --clr-primary-9: hsl(163, 71%, 85%);
  --clr-primary-10:hsl(163, 69%, 95%);
  /* darkest grey - used for headings */
  --clr-gray-1: hsl(209, 61%, 16%);
  --clr-gray-2: hsl(211, 39%, 23%);
  --clr-gray-3: hsl(209, 34%, 30%);
  --clr-gray-4: hsl(209, 28%, 39%);
  /* grey ased for paragraphs */
  --clr-gray-5: hsl(210, 22%, 49%);
  --clr-gray-6: hsl(209, 23%, 60%);
  --clr-gray-7: hsl(211, 27%, 70%);
  --clr-gray-8: hsl(210, 31%, 80%);
  --clr-gray-9: hsl(212, 33%, 89%);
  --clr-gray-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 300;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.underline{
  width: 4rem;
  height: 0.2rem;
  background: var(--clr-primary-5);
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* 
=====================
End of Global styles
=====================
*/

/* 
=====================
Navbar styles
=====================
*/
.nav-container{
  width: 100vw;
  background: var(--clr-white);
}

/* add this id to navbar container when screen slides 
use id because navbar is class and it's also applying background so we need more specificity attribute to overide class property*/
#navbar-fixed{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.nav-header{
  width:100vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding:0.5rem 1rem;
}

.nav-logo{
  width: 250px;
}

.nav-btn{
  font-size: 2rem;
  color: var(--clr-primary-5);
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-icon{
  display: block;
  color: red;
  text-align: end;
  margin-right: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

/* this will be display after 768px */
.header-nav-links{
  display:none;
}

.small-screen-menu{
  background: var(--clr-gray-10);
  /* get the whole screen for menu */
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.7fr;
  /* hide it */
  transform: translateX(-100%);
  transition: var(--transition);
}

/* to display small screen menu */
.showNav{
  transform: translate(0);
}

.small-nav-links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-nav-links-item{
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.small-nav-links-item a{
  color: var(--clr-gray-5);
  transition: var(--transition);
}


.small-nav-links-item:hover a{
  color: var(--clr-primary-5);
}

.social-links{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.social-links-item a{
  font-size: 1.5rem;
  color: var(--clr-gray-1);
  transition: var(--transition);
}

.social-links-item:hover a{
  color: var(--clr-primary-5);
}

@media screen and (min-width: 768px){
  .nav-btn{
    display: none;
  }
  
  .small-screen-menu{
    display: none;
  }
  
  .nav-container{
    background: var(--clr-primary-10);
  }
  
  .header-nav-links{
    display:flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
  }
  
  .header-nav-links-item a{
    color: var(--clr-primary-1);
    text-transform: capitalize;
    letter-spacing: 0.2rem;
  }

  .header-nav-links-item:hover a{
    color: var(--clr-primary-5);
  }
}
/* 
=====================
End of Navbar styles
=====================
*/

/* 
=====================
Banner styles
=====================
*/
.banner{
  height: calc(100vh - 70px);
  background: var(--clr-primary-10);
}

.section-center{
  height: 100%;
}

.banner-data-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* to set items horizontally center till 992px*/
.banner-data{
  width: 420px;
}

.name-upperline{
  width: 5rem;
  height: 0.2rem;
  background: var(--clr-primary-5);
}

.banner-data h1{
  color: var(--clr-primary-1);
}

.banner-data p{
  color: var(--clr-gray-5);
  font-weight: 700;
  letter-spacing:0.2rem;
  text-transform: capitalize;
}

.banner-btn{
  margin-top: 1rem;
  font-weight: 500;
  font-family: var(--ff-secondary);
}

/* social links already designed in navbar styles */
.banner-links{
  width: 240px;
  /* it's flex */
  justify-content: space-between;
  margin-top: 3rem;
}

.banner-img{
  display: none;
}

@media screen and (min-width: 768px){
  /* font-size increases of the items so increase the container size*/
  .banner-data{
    width: 500px;
  }
}

@media screen and (min-width: 992px){
  .col-2-layout-banner{
    display: grid;
    grid-template-columns:1fr 1fr;
  }

  .banner-img{
    width: 55%;
    display: inherit;
    justify-self: center;
    align-self: center;
    position: relative;
    box-shadow: var(--light-shadow);
    z-index:0;
  }

  .banner-img img{
    border-radius: var(--radius);
  }
  
  /* draw line to the right and bottom of the image */
  .banner-img::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    border-radius: var(--radius);
    top: 2rem;
    right: -2rem;
    z-index: -1;
  } 
}

/* 
=====================
End of Banner styles
=====================
*/
/* 
=====================
About styles
=====================
*/
.about-section{
  background: var(--clr-white);
}

.about-img-container{
  width: 320px;
  margin: 0 auto;
}

.about-img-container img{
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.about-data{
  margin-top: 2rem;
}

.about-data h2{
  color:var(--clr-primary-1);
}

.about-underline{
  margin: 0;
}

.about-data p{
  padding-top: 2rem;
  color: var(--clr-gray-5);
}

@media screen and (min-width: 992px){
  .col-2-layout-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-data{
    margin: 0;
  }

  .about-img-container{
    position: relative;
  }

  .about-img-container::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    border-radius: var(--radius);
    top: 2rem;
    left: -2rem;
    z-index: -1;
  }
}

/* 
===================
Styles for Services
=================== 
*/
/* 
===================
End of Services
=================== 
*/

.services-section{
  background: var(--clr-gray-10);
}

.services-title h2{
  text-align: center;
  color: var(--clr-primary-1);
}

.services-underline{
  width: 6rem;
  margin-bottom: 4rem;
}

.service-card{
  background: var(--clr-white);
  padding: 2rem;
  margin-bottom: 2rem;
  color: var(--clr-gray-1);
  border-radius: var(--radius);
  transition: var(--transition);
}

.service-card:hover{
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

.service-card-content{
  text-align: center;
}

.service-name-underline{
  height: 0.1rem;
  margin-bottom: 1.5rem;
}

.service-icon{
  font-size: 2rem;
}

.service-card-content p{
  color: var(--clr-gray-5);
}

.service-card-content:hover p{
  color: var(--clr-white);
}
.service-card-content:hover .service-name-underline{
  background: var(--clr-white);
}

@media screen and (min-width: 768px){
 .services-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
 } 
}

@media screen and (min-width: 992px){
 .services-cards{
  grid-template-columns: repeat(3, 1fr);
 } 
}

/* 
========================
Styles for Latest works
=======================
*/

.latest-works-section{
  background: var(--clr-white);
}

.latest-works-text{
  text-align: center;
  margin-bottom: 4rem;
}

.latest-works-text p{
  max-width: 600px;
  color: var(--clr-gray-5);
  margin: 0 auto;
}

.latest-works-underline{
  width: 6rem;
}

.latest-project{
  margin-bottom: 2rem;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  transition: var(--transition);
  /* for project info */
  position: relative;
}

/* this will come around project info when hover */
.latest-project::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  border : 0.2rem solid var(--clr-white);
  border-radius: var(--radius);
  opacity: 0;
  transition: var(--transition);
}

.latest-project img{
  height: 16rem; 
  border-radius: var(--radius);
  object-fit: cover;
  transition: var(--transition);
}

.project-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--clr-white);
  text-align: center;
  opacity: 0;
  transition: var(--transition);
}

/* all below code is for hovering action over latest-project */
.latest-project:hover img{
  opacity: 0.3;
}

.latest-project:hover .project-info{
  opacity: 1;
}

.latest-project:hover::before{
  opacity: 1;
  transform: scale(0.8);
}

@media screen and (min-width: 768px){
  .latest-works-projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px){
  .latest-works-projects{
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (min-width: 1170px){
  .latest-works-projects{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,16rem);
    grid-template-areas:
    "a b b"
    "a c d"
    ;
  }

  .project-2{
    grid-area: a;
  }
  .project-1{
    grid-area: b;
  }
  .project-3{
    grid-area: c;
  }
  .project-4{
    grid-area: d;
  }

  .latest-project img{
    height: 100%;
  }

}
    
/* 
========================
Styles for connect works
=======================
*/
.connect-section{
  min-height: 100vh;
  background: var(--clr-white);
  position: relative;
  padding: 10rem 0 5rem 0;
  margin: 5rem 0;
  z-index: -2;
}

/* html video element is used to set video as a background */
.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.connect-section::after{
  position: absolute;
  content:'';
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  opacity: 0.6;
}

/* video is background so logically 
it only has one element that is video-ban */
.connect-section{
  display: flex;
  justify-content: center;
  align-content: center;
}

.video-ban{
  background: var(--clr-primary-10);
  text-align: center;
  z-index: 1;
}

.video-ban-txt{
  padding: 4rem;
}

.video-ban-txt-title-underline{
  width: 6rem;
}

/* it control the width of whole video-ban */
.video-ban-txt p{
  max-width: 32rem;
  color: var(--clr-gray-5);
}

